ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}
.section-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.accent {
  color: #4d5ae5;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* header  */
.header {
  background-color: #fff;
}
.header-logo {
}
.header-menu-list a {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-menu-list a:hover,
.header-menu-list a:focus {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
}
.header-contacts a {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-contacts a:hover,
.header-contacts a:focus {
  color: #404bbf;
}

/* hero */
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
  cursor: pointer;
}
/* features */
.features-subtitle {
}
.features-text {
}

/* team  */
.team {
  background-color: #f4f4fd;
}
.team-card {
  background-color: #fff;
}
.team-title {
}
.team-img {
}
.team-subtitle {
  text-align: center;
}
.team-text {
  text-align: center;
}
/* portfilio */
.portfolio {
  background-color: #fff;
}
.portfolio-title {
}
.portfolio-img {
}
.portfolio-subtitle {
}
.portfolio-text {
}
/* footer  */
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
